#app{
    max-width: 120px;
    margin-right: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#app main {
    margin-left: 30px;;
}